.form .login-field {
    margin: 15px 0 25px 0;

    &:nth-of-type(1) {
        margin-bottom: 0;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .form .login-field {
        margin: 12px 0 20px 0;
    }
}